---
---
{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.site {
  color: var(--color-coral);
}

table {
  background-color: rgba(206, 128, 138, .3);
}

.picked {
  background-color: rgba(140, 90, 132, .3);
}

.payment {
  font-family: Montserrat;
}
