:root {
  --color-primary: #368781;
  --color-secondary: #fffbee;
  --color-blue: #46527c;
  --color-coral: #ce808a;
  --color-purple: #8c5a84;


  --font-primary: 'Montserrat';
  --font-secondary: 'Playfair';
  --font-terciary: 'Meddon';
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-terciary);
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--color-blue)
}

a:hover {
  color: var(--color-purple)
}

body {
  font-family: Playfair;
  font-weight: normal;
  font-style: normal;
}

mark {
  font-family: Playfair;
  font-weight: bold;
  background-color: var(--color-coral);
}
