footer {
  background-color: var(--color-blue);
  color: var(--color-secondary);
}

.icon-label {
  color: var(--color-secondary);
  font-family: Montserrat;
}

.privacy {
  color: var(--color-secondary);
}

a:hover {
  var(--color-primary);
}
