.btn {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-secondary);
  font-family: Montserrat;
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-checkout {
  background-color: transparent;
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.btn-checkout:hover {
  color: var(--color-secondary);
}

.btn-light {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary);
}

.btn-subscribe {
  background-color: var(--color-coral);
  border-color: var(--color-coral);
  border-width: thin;
}

.btn-subscribe:hover {
  background-color: var(--color-blue);
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  border-width: thin;
}
