
img {
  width: 40%;
}

header {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.nav-content {
  background-color: var(--color-blue);
  color: var(--color-secondary);
}

.nav a {
  color: var(--color-secondary);
  text-decoration: none;
  font-family: Montserrat;
}

a:hover {
  color: var(--color-coral);
}

.main-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-secondary);
  font-family: var(--font-secondary);
}

.welcome {
  background-color: rgba(70, 82, 124, .7);
  border-radius: 20px;
}

.nav {
  display: none;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-check:checked ~ ul {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  background-color: var(--color-blue);
}

input[type="checkbox"].nav-check + label::before {
  display: none;
}

.nav-content {
  z-index: 1000;
  top: -20px;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  display: inline-block;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
  padding-top: 1.3em;
}

.nav-open {
  padding-bottom: .5em;
}

.nav-close {
  display: none;
}

a:hover {
  color: var(--color-coral);
}

.nav-list {
  border-bottom: .1px solid #fff;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}
