
img {
  width: 40%;
}

header {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.nav-content {
  background-color: var(--color-blue);
  color: var(--color-secondary);
}

.nav a {
  color: var(--color-secondary);
  text-decoration: none;
}

.main-title {
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-secondary);
  font-family: var(--font-secondary);
}
