<!DOCTYPE html>
<html lang="en-ca" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Geohub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Meddon|Montserrat:300,400|Playfair+Display&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon-196.png">
  </head>
  <body>
    {% pattern header/nav %}
    {{content}}
    {% pattern footer/footer %}
  </body>
</html>
